body {
	background-color: #ccc;
}
.container {
	width: 180px;
	height: 280px;
	margin: 100px auto;
	perspective: 800px;
	transform-style: preserve-3d;
	transform: rotateX(-25deg);
}

.box {
	width: 180px;
	transform-style: preserve-3d;
	color: orange;
	text-align: center;
	animation: rotate 10s linear infinite;
}

.front, .back, .left, .right, .up, .down {
	position: absolute;
	width: 180px;
	height: 180px;
	border: 1px solid black;
}
.front div, .back div, .left div, .right div, .up div, .down div {
	box-shadow: inset 0 0 1px 2px white;
}

.front {
	transform: translateZ(90px);
	background-color: #1f122c;
}

.back {
	transform: rotateY(180deg) translateZ(90px);
	background-color: #1f122c;
}

.left {
	transform: rotateY(-90deg) translateX(-90px);
	background-color: #1f122c;
	transform-origin: left;
}

.right {
	transform: rotateY(90deg) translateX(90px);
	background-color: #1f122c;
	transform-origin: right;
}

.up {
	transform: rotateX(90deg) translateY(-90px);
	background-color: #1f122c;
	transform-origin: top;
}

.down {
	transform: rotateX(90deg) translateY(90px) translateZ(-90px);
	box-shadow: 0 0 50px 30px white;
	opacity: .1;
	background-color: #1f122c;
	transform-origin: bottom;
}

@keyframes rotate {
	0%{
		transform: rotateY(0deg);
	}
	100%{
		transform: rotateY(360deg);
	}
}